/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  /* Added it by yourself*/
  text-decoration: none;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* general styles */
body {
  background-color: #eff2f8;
  font: 16px Helvetica, Arial, sans-serif;
  line-height: 1.31;
  min-width: 1024px;
  max-width: 100%;
}
.wrapper {
  display: flex;
  flex-flow: column;
  min-height: 100vh;
}
.header {
  background-color: #ffffff;
  box-shadow: 0 4px 4px 0 rgba(79, 88, 178, 0.25);
  padding: 24px 0;
}
.nav {
  display: flex;
}
.logo {
  margin: 0 48px;
  font-family: Helvetica;
  font-size: 24px;
  font-weight: bold;
  color: #6a75ca;
  display: inline-block;
  line-height: 32px;
  text-decoration: none;
}
.nav-list {
  display: flex;
  justify-content: flex-end;
  padding: 0 115px;
}
.nav-list li {
  margin: 0 0 0 32px;
}
.nav-list li a {
  font-size: 16px;
  font-weight: bold;
  color: #131320;
  font-family: Helvetica;
  text-decoration: none;
  display: inline-block;
  border-bottom: 1px solid transparent;
  line-height: 32px;
}
.nav-list-item a:hover{
	color: #6a75ca;
}


.main {
  display: flex;
  flex-grow: 1;
}
.sidebar {
  background-color: #6a75ca;
  padding: 32px;
  flex: 0 0 176px;
}
.sidebar-list {
  width: 176px;
}
.sidebar-list li a {
  text-transform: uppercase;
  font-size: 16px;
  line-height: 32px;
  padding: 0 0 0 16px;
  position: relative;
  display: inline-block;
  width: 144px;
  height: 32px;
  font-family: Helvetica;
  color: #ffffff;
}
.sidebar-list li.active a:before,
.sidebar-list li a:hover:before {
  content: "";
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #fff;
  position: absolute;
  left: 0;
  top: 50%;
  margin: -4px 0 0;
}
.content {
  padding: 0 0 100px;
  flex-grow: 1;
}
.footer {
  background: #000;
  color: #fff;
  text-transform: uppercase;
  font-size: 12px;
  position: fixed;
  width: 100%;
  min-width: 1024px;
  bottom: 0;
  left: 0;
}
.footer-area {
  padding: 24px;
  display: flex;
  justify-content: space-between;
}
.heading {
  font-family: Helvetica;
  font-size: 54px;
  font-weight: bold;
  line-height: 1.17;
  color: #131320;
  padding-top: 100px;
  text-align: center;
}
.container {
  width: 796px;
  margin: 0 auto;
}
.together {
  display: flex;
  flex-direction: column;
}
.clippy {
  display: flex;
  justify-content: space-between;
  padding: 80px 0 0 0;
}
.drop-shadow {
  filter: drop-shadow(rgba(0, 0, 0, 0.25) 0px 10px 20px);
}

.card {
  width: 240px;
  height: 240px;
  background: #6a75ca;
  clip-path: polygon(0 0, 70% 0, 100% 30%, 100% 100%, 0 100%);
  font-family: Courier;
  font-size: 16px;
  line-height: 1.31;
  color: #ffffff;
  border-radius: 10px;
}
pre {
  padding: 32px 32px 0 32px;
}

.card.big {
  width: 796px;
  clip-path: polygon(0 0, 90% 0, 100% 30%, 100% 100%, 0 100%);
  line-height: 1.4;
}

.card.big.white {
  background-color: #ffffff;
  color: #7d868e;
}

.title {
  height: 42px;
  font-family: Helvetica;
  font-size: 36px;
  font-weight: bold;
  line-height: 1.17;
  color: #131320;
  padding: 24px 48px;
  border-bottom: 1px solid #131320;
}
.container.element {
  width: 1104px;
  margin: 0 auto;
}
.clippy.element {
  margin-top: 24px;
  padding: 0;
}

.card.element {
  width: 1104px;
  height: 127px;
  clip-path: polygon(0 0, 95% 0, 100% 40%, 100% 100%, 0 100%);
  padding: 0;
}
.cardicon {
  display: flex;
  height: 127px;
  align-items: center;
}
.svg {
  margin: 0 32px;
}

.headings {
  text-transform: uppercase;
  height: 32px;
  font-family: Helvetica;
  font-size: 24px;
  font-weight: bold;
  line-height: 1.33;
  color: #131320;
  padding: 48px 0 15px;
  border-bottom: 1px solid #131320;
}

.headlineone {
  height: 63px;
  font-family: Helvetica;
  font-size: 54px;
  font-weight: bold;
  line-height: 1.17;
  color: #131320;
  padding-top: 24px;
}
.headlinetwo {
  height: 42px;
  font-family: Helvetica;
  font-size: 36px;
  font-weight: bold;
  line-height: 1.17;
  color: #131320;
  padding-top: 42px;
}
.headlinethree {
  height: 42px;
  font-family: Helvetica;
  font-size: 24px;
  font-weight: bold;
  line-height: 1.75;
  color: #000000;
  padding-top: 21px;
}
.headlinefour {
  height: 21px;
  font-family: Helvetica;
  font-size: 16px;
  font-weight: bold;
  line-height: 1.31;
  color: #000000;
  padding-top: 21px;
}
.border {
  position: relative;
  height: 21px;
  font-family: Helvetica;
  font-size: 12px;
  line-height: 1.75;
  color: #ffc806;
  border-radius: 8px;
  border: solid 1px #4f58b2;
  height: 255px;
  margin-top: 32px;
}
.name {
  position: absolute;
  top: -10px;
  left: 10px;
  background-color: #eff2f8;
  padding: 0 8px;
}
.card.html {
  width: 1072px;
  height: 223px;
  margin: 16px;
  clip-path: polygon(0 0, 95% 0, 100% 25%, 100% 100%, 0 100%);
  background-color: #ffffff;
  font-size: 16px;
  line-height: 1.31;
  color: #7d868e;
}
.border.two {
  width: 1104px;
  height: 758px;
  margin-top: 32px;
}
.card.html.css {
  height: 726px;
  clip-path: polygon(0 0, 95% 0, 100% 8%, 100% 100%, 0 100%);
}

.menu {
  background: #000;
  padding: 2px 60px;
  margin: 30px 0;
  height: 96px;
}
.menu-list {
  display: flex;
  justify-content: flex-end;
  margin: 0;
  list-style: none;
}
.menu-list-item {
  padding: 30px 25px 29px 50px;
  margin: 0 25px 0 0;
  background: #fff;
  height: 96px;
  position: relative;
}
.menu-list-item-link {
  color: #000;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 32px;
  line-height: 37px;
}
.menu-list-item-link:after {
  content: "";
  position: absolute;
  top: 0;
  right: -25px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 48px 0 48px 25px;
  border-color: transparent transparent transparent #fff;
}
.menu-list-item-link:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 48px 0 48px 25px;
  border-color: transparent transparent transparent #000;
}
.menu-list-item:hover {
  background: #ccc;
}
.menu-list-item:hover .menu-list-item-link:after {
  border-color: transparent transparent transparent #ccc;
}
.menu-gradient {
  background: linear-gradient(90deg, #000000 0%, rgba(0, 0, 0, 0) 127.92%);
}
.menu-gradient .menu-list-item-link:before {
  content: "";
  position: absolute;
  top: 0;
  left: -25px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 48px 0 48px 25px;
  border-color: #fff transparent #fff transparent;
}
.menu-gradient .menu-list-item {
  margin: 0 25px;
  padding: 30px 25px 29px 25px;
  height: 37px;
}
.menu-list-item:hover .menu-list-item-link:after {
  border-color: transparent transparent transparent #ccc;
}
.menu-gradient .menu-list-item:hover .menu-list-item-link:before {
  border-color: #ccc transparent #ccc transparent;
}
.border.components {
  margin-top: 60px;
}
.border.two.css {
  height: 1451px;
}
.card.html.css.two {
  height: 1419px;
  clip-path: polygon(0 0, 95% 0, 100% 4%, 100% 100%, 0 100%);
}
.nav-list-item .active{
	color:#6a75ca;
}